<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed{% if request.resolver_match.url_name == 'home' %}x{% endif %}" href="{% url 'home' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed{% if request.resolver_match.url_name == 'prioritized_tasks' %}x{% endif %}" href="{% url 'prioritized_tasks' %}">
        <i class="bi bi-star"></i>
        <span>Prioritized</span>
      </a>
    </li>
    {% for task_list in task_lists %}
    <li class="nav-item">
      <a class="nav-link collapsed{% if request.resolver_match.kwargs.pk == task_list.pk and request.resolver_match.url_name == 'task_list_detail' %}x{% endif %}" href="{% url 'task_list_detail' task_list.pk  %}">
        <i class="bi bi-list-task"></i>
        <span>{{ task_list.name }}</span>
      </a>
    </li>
    {% endfor %}

  </ul>
  <div class="d-grid gap-2 mt-3">
    <a href="{% url 'create_task_list' %}" type="button" class="btn btn-primary pl-5 pr-5"><i class="bi bi-plus-square me-1"></i> Create Task List</a>
  </div>
</aside>
